
{# component/_nav.html.twig #}


<nav class="menu">
			<ul>
				<li><a href="#Accueil">{{ activity.acceuil }}</a></li>
				<li><a href="#Apropos">{{ activity.Apropos }}</a></li>
				<li><a href="#Contact">{{ activity.contact }}</a></li>
			</ul>
		</nav>

        //Dans cet exemple, nous supposons que notre contrôleur nous aura envoyé un tableau activities//